@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 290px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.all-loading {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #030303;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-load {
    width: 380px;
    height: 150px;
    background-image: url(../img/loading-ncob.gif);
    background-repeat: no-repeat;
    float: left;
    background-size: 100%;
}

.header {
    width: 100%;
    height: 95px;
    background-color: transparent;
    border-bottom: 1px solid #51a5ce21;
    z-index: 9998;
    position: absolute;
}

.logo {
    width: 120px;
    height: 60px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    float: left;
    background-size: 100%;
    cursor: pointer;
    margin-top: 18px;
}

.container {
    width: 1100px;
    margin: auto;
}

.area-options {
    float: right
}

.align-01-01 {
    width: 100%;
    float: left;
    /* background-color: red; */
    height: 450px;
    margin-top: calc(25% - 225px);
}

.align-01-01-video {
    width: 100%;
    float: left;
    /* background-color: red; */
    height: 450px;
    margin-top: calc(25% - 225px);
}

.option {
    float: left;
    padding: 10px;
    height: 55px;
    margin-top: 32px;
    cursor: pointer;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s ease;
}

.option:hover {
    color: #aee3ff;
}

.area-01-01 {
    width: 100%;
    height: 100%;
    min-height: 650px;
    float: left;
    position: absolute;
    z-index: 999;
}

.area-01-02 {
    width: 100%;
    height: 100%;
    top: 0;
    min-height: 650px;
    float: left;
    -webkit-transition: opacity 1.0s ease-in-out;
    -moz-transition: opacity 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;
    opacity: 0;
    position: absolute;
    z-index: 99;
}

.layer-01-01 {
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-color: black;
    float: left;
    opacity: 1.0;
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

.layer-01-02 {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-image: url('../img/bg-main.png');
    background-size: cover;
    float: left;
    opacity: 1.0;
    position: absolute;
    z-index: 2;
    padding-top: 100px;
}

.bt-option {
    float: left;
    width: 150px;
    height: 41px;
    margin-left: 30px;
    margin-top: 28px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    color: #fff;
    letter-spacing: 5px;
    border: 2px solid #a5d1e6;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.bt-option:hover {
    border: 2px solid #fff;
    box-shadow: 1px 0px 40px -5px rgb(47, 117, 215);
}

.title-01 {
    padding-top: 40px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 100px;
    transition: all 0.9s ease;
    letter-spacing: 8px;
    color: white;
    text-transform: uppercase;
}

.title-01-02 {
    padding-top: 80px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 17px;
    height: 100px;
    transition: all 0.9s ease;
    letter-spacing: 6px;
    color: white;
    text-transform: uppercase;
}

.row {
    width: 100%;
    float: left;
}

.area-circle {
    margin-top: 60px;
}

.area-circle-03 {
    margin-top: 115px;
}

.circle-main {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    cursor: pointer;
    margin: auto;
    position: relative;
    z-index: 1;
    border: 1px solid #69cdff;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle-main-03 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    cursor: pointer;
    margin: auto;
    border: 1px solid #214d56;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.circle-child {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: auto;
    margin-top: -135px;
    background-image: url('../img/icon-play.png');
    background-position: center;
    background-size: cover;
    transition: all 0.9s ease;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.circle-child:hover {
    opacity: 0.6;
    box-shadow: 1px 0px 40px -5px rgb(5, 43, 96);
}

.text-1 {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    transition: all 0.9s ease;
    margin-top: 85px;
    float: left;
    font-size: 21px;
    color: #dbf3ff;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 400;
    line-height: 1.8;
}

.area-02 {
    width: 100%;
    height: 700px;
    background-color: #202539;
    float: left;
    position: relative;
}

.area-video-01 {
    width: 800px;
    height: 450px;
    position: relative;
    z-index: 9997;
    margin-left: calc(50% - 400px);
    transition: all 0.8s ease;
    BORDER: 1PX SOLID #1f1f1f;
    float: left;
    cursor: pointer;
    background: -moz-linear-gradient(top, #151824 1%, #32343d 100%);
    background: -webkit-linear-gradient(top, #151824 1%, #32343d 100%);
    background: linear-gradient(to bottom, #151824 1%, #32343d 100%);
}

.area-video-01:hover {
    box-shadow: 1px 0px 80px 5px rgb(25, 44, 62);
    BORDER: 1PX SOLID #2b2b2b;
}

.area-03 {
    width: 100%;
    height: 750px;
    background-color: #111420;
    float: left;
    position: relative;
}

.area-04 {
    width: 100%;
    height: 250px;
    background: -moz-linear-gradient(left, #062544 1%, #006bd5 65%, #5dafd2 100%);
    background: -webkit-linear-gradient(left, #062544 1%, #006bd5 65%, #5dafd2 100%);
    background: linear-gradient(to right, #062544 1%, #006bd5 65%, #5dafd2 100%);
    float: left;
    position: relative;
}

.container-04 {
    width: 680px;
    margin: auto;
}

.left-04-01 {
    float: left;
    color: white;
    font-size: 26px;
    margin-top: 108px;
}

.item-decorate-01 {
    background-image: url('../img/decorate-01.png');
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 150px;
    margin-left: calc(50% - 75px);
    height: 28px;
    bottom: 0;
    z-index: 3;
    position: absolute;
}

.item-decorate-01:hover {
    background-image: url('../img/decorate-01-hover.png');
}

.itens-funcionalidade {
    margin-top: 30px;
}

.title-02-01 {
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    transition: all 0.8s ease;
    transition: all 0.4s ease;
    opacity: 0;
    transition: all 0.4s ease;
}

.title-02-02 {
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-top: 125px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    transition: all 0.8s ease;
    transition: all 0.4s ease;
}

.title-item-02-01 {
    width: calc(100% - 70px);
    float: left;
    color: #fff;
    text-align: left;
    font-size: 18px;
    padding-left: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.text-item-02-01 {
    width: calc(100% - 70px);
    float: left;
    color: #fff;
    padding-left: 30px;
    text-align: left;
    margin-top: 10px;
    height: 112px;
    line-height: 1.8;
    padding-right: 60px;
    font-size: 15px;
    color: #b8bbca;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.item-02-01 {
    width: 50%;
    float: left;
    margin-top: 0px;
    transition: all 0.9s ease;
    padding-left: 30px;
    opacity: 0;
}

.ico-02-01 {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    float: left;
}

.title-back {
    width: 1100PX;
    margin-top: 115px;
    position: Absolute;
    opacity: 0.1;
    COLOR: #3b4365;
    margin-left: calc(50% - 550px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 15px;
    font-size: 4.0em;
    left: 0;
    text-align: center;
    -webkit-touch-callout: none;
    line-height: 0.8;
    z-index: 9996;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.performance {
    background-image: url('../img/performance.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.integracao {
    background-image: url('../img/integracao.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.conhecimento {
    background-image: url('../img/conhecimento.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.segmentacao {
    background-image: url('../img/segmentacao.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.email {
    background-image: url('../img/email.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.local {
    background-image: url('../img/local.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.phone {
    background-image: url('../img/phone.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.box-video-03 {
    width: 800px;
    height: 450px;
    margin-left: calc(50% - 400px);
    transition: all 0.8s ease;
    BORDER: 1PX SOLID #1f1f1f;
    float: left;
    padding-top: 30px;
    cursor: pointer;
    margin-top: 60px;
    background: -moz-linear-gradient(top, #151824 1%, #32343d 100%);
    background: -webkit-linear-gradient(top, #151824 1%, #32343d 100%);
    background: linear-gradient(to bottom, #151824 1%, #32343d 100%);
}

.box-video-03-02 {
    width: 800px;
    height: 450px;
    margin-left: calc(50% - 400px);
    transition: all 0.8s ease;
    BORDER: 1PX SOLID #1f1f1f;
    float: left;
    display: none;
    margin-top: 60px;
    background: -moz-linear-gradient(top, #151824 1%, #32343d 100%);
    background: -webkit-linear-gradient(top, #151824 1%, #32343d 100%);
    background: linear-gradient(to bottom, #151824 1%, #32343d 100%);
}

.box-video-03:hover {
    box-shadow: 1px 0px 80px 5px rgb(7, 29, 49);
    border: 1px SOLID #2b2b2b;
}

.bt-login-04 {
    float: right;
    width: 240px;
    height: 52px;
    margin-left: 30px;
    margin-top: 96px;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    color: #a5d1e6;
    letter-spacing: 7px;
    border: 2px solid #a5d1e6;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.8s ease;
}

.bt-login-04:hover {
    color: #fff;
    box-shadow: 1px 0px 40px -5px rgb(5, 43, 96);
    border: 2px solid #fff;
}

.area-footer {
    width: 100%;
    float: left;
    height: 290px;
    background-color: #fff;
}

.item-decorate-05 {
    background-image: url('../img/decorate-05.svg');
    background-size: 100%;
    background-position: top;
    cursor: pointer;
    width: 150px;
    margin: auto;
    height: 80px;
    margin-top: -73px;
    z-index: 3;
    position: relative;
}

.item-decorate-05:hover {
    background-image: url('../img/decorate-05-hover.svg');
}

.box-f {
    width: 33.33%;
    float: left;
    height: 280px;
}

.area-logo-footer {
    width: 150px;
    height: 80px;
    background-image: url('../img/logo_footer.png');
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 100px;
    cursor: pointer;
}

.m-20 {
    margin-top: 90px;
    margin-bottom: 20px;
}

.ico-contact {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    float: left;
}

.text-contact {
    width: calc(100% - 50px);
    float: left;
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 2.5;
    font-family: 'Open Sans';
    color: #7f7f7f;
    padding-top: 9px;
}

.area-copy {
    width: 100%;
    float: left;
    background-color: #efefef;
    font-size: 15px;
    color: gray;
    padding: 25px;
    text-align: center;
    font-family: 'Open Sans';
}

.area-contact {
    width: 100%;
    background-color: #202539;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.area-form {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.title-input {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.616);
    letter-spacing: 5px;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 5px
}

.input-default {
    width: 100%;
    border: 0px;
    padding: 20px;
    background-color: #111421;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.container-contact {
    width: 800px
}

.col-2-pc {
    width: 50% !important;
    padding-left: 10px;
    padding-right: 10px
}

.col-1-pc {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px
}

.area-input {
    width: 100%;
    float: left;
    margin-top: 20px
}

.select-default {
    border: 1px solid #42425d;
    width: 100%;
    float: left;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #111422;
    font-family: 'Raleway', sans-serif;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border: 0px;
    padding: 20px;
    background-color: #111421;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.bt-form {
    float: right;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    letter-spacing: 5px;
    margin-right: 10;
    border: 0px solid #5894c0;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.4s ease;
    text-transform: uppercase;
    background: linear-gradient(38deg, rgb(139, 184, 210) 0%, rgb(91, 97, 147) 100%);
}

.bt-form:hover {
    box-shadow: 1px 0px 20px -9px rgb(27, 159, 200);
    background: linear-gradient(38deg, rgb(133, 176, 201) 0%, rgb(80, 85, 133) 100%);
}

.error-input {
    border: 1px solid red;
}

.error-text {
    color: rgb(255, 19, 19);
    font-size: 13px;
    margin-right: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.area-bt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

.all-modal {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-modal {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.head-modal {
    width: 100%;
    float: left;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(38deg, rgb(139, 184, 210) 0%, rgb(91, 97, 147) 100%);
}

.icon-success {
    width: 65px;
    height: 65px;
    background-image: url('../img/icon-success.svg');
    background-size: 100%;
}

.title-modal {
    width: 100%;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
}

.text-modal {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.bt-close-modal {
    float: left;
    width: 180px;
    height: 41px;
    margin-top: 60px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.bt-close-modal:hover {
    background-color: rgb(221, 221, 221);
}