@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

@media(max-width: 1023px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Raleway', sans-serif;
        min-width: 290px;
    }

    .header {
        width: 100%;
        z-index: 9998;
        float: left;
        height: 95px;
        position: relative;
        background-color: transparent;
        border-bottom: 1px solid #1a51855e;
    }

    .container {
        width: 90%;
        margin-left: 5%;
        float: left;
    }

    .logo {
        width: 120px;
        height: 75px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        float: left;
        cursor: pointer;
        margin-left: calc(50% - 55px);
        margin-top: 19px;
    }

    .area-options {
        float: left;
        width: 100%;
        position: fixed;
        background-color: white;
        margin-left: -5%;
        height: 100%;
        padding-left: 20px;
        padding-top: 50px;
        padding-right: 20px;
    }

    .all-options {
        display: none;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .option {
        float: left;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid #f1f1f1;
        width: 100%;
        padding-left: 30px;
        font-size: 15px;
        color: gray;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    .menu-m {
        width: 30px;
        height: 30px;
        float: right;
        margin-top: 30px;
        cursor: pointer;
        background-image: url('../img/menu.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icon-close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        float: right;
        margin-top: 25px;
        background-image: url(../img/close.png);
        background-size: 100%;
        top: 5px;
        margin-right: 7%;
        cursor: pointer;
    }

    .align-01-01-video {
        width: 100%;
        float: left;
        position: absolute;
        height: 400px;
        z-index: 998;
        bottom: calc(50% - 170px);
    }

    .align-01-01 {
        width: 100%;
        float: left;
        position: absolute;
        height: 400px;
        z-index: 998;
        bottom: calc(50% - 242px);
    }

    .area-01-02 {
        width: 100%;
        height: 100%;
        min-height: 600px;
        top: 0;
        float: left;
        -webkit-transition: opacity 1.0s ease-in-out;
        -moz-transition: opacity 1.0s ease-in-out;
        transition: opacity 1.0s ease-in-out;
        opacity: 0;
        position: absolute;
        z-index: 9996;
        padding-top: 100px;
    }

    .area-01-01 {
        width: 100%;
        height: 100%;
        min-height: 600px;
        top: 0;
        float: left;
        -webkit-transition: opacity 1.0s ease-in-out;
        -moz-transition: opacity 1.0s ease-in-out;
        transition: opacity 1.0s ease-in-out;
        position: absolute;
        z-index: 9997;
        padding-top: 100px;
    }

    .layer-01-01 {
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: black;
        float: left;
        opacity: 1.0;
        top: 0;
        margin-top: -95px;
        position: relative;
        z-index: 1;
        padding-top: 100px;
    }

    .layer-01-02 {
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-image: url('../img/bg-main.png');
        background-size: cover;
        float: left;
        opacity: 1.0;
        position: absolute;
        top: 0;
        z-index: 2;
        padding-top: 100px;
    }

    .bt-option {
        float: left;
        width: 100%;
        height: 50px;
        color: white;
        margin-top: 28px;
        cursor: pointer;
        background: -webkit-linear-gradient(left, #062544 1%, #006bd5 65%, #5dafd2 100%);
        background: linear-gradient(to right, #062544 1%, #006bd5 65%, #5dafd2 100%);
        font-size: 14px;
        border: 0;
        letter-spacing: 7px;
        border-radius: 4px;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    .title-01 {
        float: left;
        width: 100%;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        transition: all 0.9s ease;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 6px;
        color: white;
        text-transform: uppercase;
    }

    .title-01-02 {
        padding-top: 40px;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 17px;
        height: 100px;
        transition: all 0.9s ease;
        letter-spacing: 6px;
        color: white;
        text-transform: uppercase;
    }

    .row {
        width: 100%;
        float: left;
    }

    .area-circle-03 {
        margin-top: 65px;
    }

    @keyframes flickerAnimation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-o-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .circle-main {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        cursor: pointer;
        margin: auto;
        position: relative;
        border: 1px solid #50a2cb;
        -webkit-animation: flickerAnimation 2s infinite;
        -moz-animation: flickerAnimation 2s infinite;
        -o-animation: flickerAnimation 2s infinite;
        animation: flickerAnimation 2s infinite;
        z-index: 1;
    }

    .circle-main-03 {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        cursor: pointer;
        margin: auto;
        border: 1px solid #606060;
        -webkit-animation: flickerAnimation 2s infinite;
        -moz-animation: flickerAnimation 2s infinite;
        -o-animation: flickerAnimation 2s infinite;
        animation: flickerAnimation 2s infinite;
    }

    .circle-child {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: auto;
        margin-top: -80px;
        background-image: url('../img/icon-play.png');
        background-position: center;
        background-size: cover;
        transition: all 0.9s ease;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .circle-child:hover {
        opacity: 0.6;
        box-shadow: 1px 0px 40px -5px rgb(5, 43, 96);
    }
    .area-02 {
        width: 100%;
        background-color: #202539;
        float: left;
        padding-bottom: 50px;
        position: relative;
    }

    .area-video-01 {
        width: 100%;
        height: 420px;
        float: left;
        padding-top: 74px;
        margin-top: 25px;
    }

    .area-03 {
        width: 100%;
        padding-bottom: 40px;
        background-color: #111420;
        float: left;
        position: relative;
    }

    .area-04 {
        width: 100%;
        padding-bottom: 80px;
        background: -moz-linear-gradient(left, #062544 1%, #006bd5 65%, #5dafd2 100%);
        background: -webkit-linear-gradient(left, #062544 1%, #006bd5 65%, #5dafd2 100%);
        background: linear-gradient(to right, #062544 1%, #006bd5 65%, #5dafd2 100%);
        float: left;
        position: relative;
    }

    .container-04 {
        width: 90%;
        margin: auto;
    }

    .left-04-01 {
        float: left;
        color: white;
        width: 100%;
        text-align: center;
        font-size: 22px;
        margin-top: 60px;
    }

    .item-decorate-01 {
        background-image: url('../img/decorate-01.png');
        background-size: 100%;
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 150px;
        margin-left: calc(50% - 75px);
        height: 28px;
        bottom: 0;
        z-index: 3;
        position: absolute;
    }

    .itens-funcionalidade {
        margin-top: 30px;
    }

    .title-02-01 {
        width: 100%;
        float: left;
        color: #fff;
        text-align: center;
        font-size: 24px;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        transition: all 0.8s ease;
        opacity: 0;
    }

    .title-02-02 {
        float: left;
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        transition: all 0.8s ease;
        margin-top: 60px;
    }

    .title-item-02-01 {
        width: calc(100% - 70px);
        float: left;
        color: #fff;
        text-align: left;
        font-size: 18px;
        padding-left: 30px;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

    .text-item-02-01 {
        width: calc(100% - 70px);
        float: left;
        color: #fff;
        padding-left: 30px;
        text-align: left;
        margin-top: 10px;
        height: 112px;
        line-height: 1.6;
        font-size: 15px;
        color: #b8bbca;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

    .item-02-01 {
        width: 100%;
        margin-left: 2%;
        float: left;
        margin-top: 0px;
        opacity: 0;
        transition: all 0.8s ease;
    }

    .ico-02-01 {
        width: 50px;
        height: 50px;
        margin-top: 8px;
        float: left;
    }

    .title-back {
        width: 1100PX;
        margin-top: 120px;
        position: Absolute;
        opacity: 0.1;
        display: none;
        COLOR: #3b4365;
        margin-left: calc(50% - 550px);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 15px;
        font-size: 4.8em;
        left: 0;
        text-align: center;
        -webkit-touch-callout: none;
        line-height: 0.8;
        z-index: 9996;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .performance {
        background-image: url('../img/performance.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .integracao {
        background-image: url('../img/integracao.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .conhecimento {
        background-image: url('../img/conhecimento.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .segmentacao {
        background-image: url('../img/segmentacao.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .email {
        background-image: url('../img/email.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .local {
        background-image: url('../img/local.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 60px !important;
        background-position: center;
    }

    .phone {
        background-image: url('../img/phone.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 38px !important;
    }

    .box-video-03 {
        width: 100%;
        height: 228px;
        border-radius: 5px;
        float: left;
        padding-top: 6px;
        margin-top: 60px;
        background: -moz-linear-gradient(top, #151824 1%, #32343d 100%);
        background: -webkit-linear-gradient(top, #151824 1%, #32343d 100%);
        background: linear-gradient(to bottom, #151824 1%, #32343d 100%);
    }

    .box-video-03-02 {
        width: 100%;
        height: 300px;
        display: none;
        float: left;
        margin-top: 60px;
    }

    .bt-login-04 {
        float: left;
        width: 90%;
        height: 52px;
        margin-left: 5%;
        margin-top: 36px;
        cursor: pointer;
        background-color: transparent;
        font-size: 14px;
        color: #a5d1e6;
        letter-spacing: 7px;
        border: 2px solid #a5d1e6;
        border-radius: 4px;
        font-weight: 600;
        transition: all 0.8s ease;
    }

    .bt-login-04:hover {
        color: #fff;
        box-shadow: 1px 0px 40px -5px rgb(5, 43, 96);
        border: 2px solid #fff;
    }

    .area-footer {
        width: 100%;
        float: left;
        padding-bottom: 60px;
        background-color: #fff;
    }

    .item-decorate-05 {
        background-image: url('../img/decorate-05.svg');
        background-size: 100%;
        background-position: top;
        cursor: pointer;
        width: 150px;
        margin: auto;
        height: 80px;
        margin-top: -73px;
        z-index: 3;
        position: relative;
    }

    .box-f {
        width: 100%;
        float: left;
    }

    .area-logo-footer {
        width: 130px;
        height: 80px;
        background-image: url('../img/logo_footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        float: left;
        margin-left: calc(50% - 65px);
        margin-top: 60px;
        cursor: pointer;
        margin-bottom: 50px;
    }

    .align-footer {
        width: 320px;
        float: left;
        margin-left: calc(50% - 160px);
    }

    .m-20 {}

    .m-30 {
        margin-top: 40px !important;
    }

    .ico-contact {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-right: 20px;
        float: left;
        margin-left: 10px;
    }

    .text-contact {
        width: calc(100% - 80px);
        float: left;
        padding-left: 20px;
        font-weight: 600;
        font-size: 15px;
        line-height: 2.5;
        border-left: 2px solid #6996c9;
        font-family: 'Open Sans';
        color: #7f7f7f;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .area-copy {
        width: 100%;
        float: left;
        background-color: #e3e3e3;
        font-size: 15px;
        color: gray;
        padding-bottom: 20px !important;
        padding: 25px;
        text-align: center;
        font-family: 'Open Sans';
    }

    .all-loading {
        width: 100%;
        height: 100%;
        float: left;
        background-color: #030303;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-load {
        width: 280px;
        height: 130px;
        background-image: url(../img/loading-ncob.gif);
        background-repeat: no-repeat;
        float: left;
        background-size: 100%;
    }


    /* FORMULÁRIO */

    .area-contact {
        width: 100%;
        background-color: #202539;
        float: left;
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .area-form {
        width: 100%;
        float: left;
        margin-top: 50px;
    }

    .title-input {
        width: 100%;
        float: left;
        color: rgba(255, 255, 255, 0.616);
        letter-spacing: 5px;
        font-size: 11px;
        text-transform: uppercase;
        padding-left: 5px
    }

    .input-default {
        width: 100%;
        border: 0px;
        padding: 15px;
        background-color: #111421;
        border-radius: 5px;
        margin-top: 10px;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .container-contact {
        width: 90%;
    }

    .area-input {
        width: 100%;
        float: left;
        margin-top: 20px
    }

    .select-default {
        border: 1px solid #42425d;
        width: 100%;
        float: left;
        padding: 20px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 5px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        background-color: #111422;
        font-family: 'Raleway', sans-serif;
    }

    textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        border: 0px;
        padding: 20px;
        background-color: #111421;
        border-radius: 5px;
        margin-top: 10px;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .bt-form {
        float: right;
        width: 100%;
        height: 45px;
        cursor: pointer;
        font-size: 12px;
        color: #fff;
        letter-spacing: 5px;
        border: 0px solid #5894c0;
        border-radius: 4px;
        font-weight: 600;
        transition: all 0.4s ease;
        text-transform: uppercase;
        background: linear-gradient(38deg, rgb(139, 184, 210) 0%, rgb(91, 97, 147) 100%);
    }

    .bt-form:hover {
        box-shadow: 1px 0px 20px -9px rgb(27, 159, 200);
        background: linear-gradient(38deg, rgb(133, 176, 201) 0%, rgb(80, 85, 133) 100%);
    }

    .error-input {
        border: 1px solid red;
    }

    .error-text {
        color: rgb(255, 53, 53);
        font-size: 13px;
        /* margin-right: 30px; */
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .area-bt {
        margin-top: 30px;
    }

    .all-modal {
        width: 100%;
        height: 100%;
        float: left;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.541);
        top: 0px;
        left: 0px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-modal {
        width: calc(100% - 60px);
        padding-bottom: 50px;
        background-color: white;
        border-radius: 8px;
        border-radius: 10px;
        overflow: hidden;
    }

    .head-modal {
        width: 100%;
        float: left;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(38deg, rgb(139, 184, 210) 0%, rgb(91, 97, 147) 100%);
    }

    .icon-success {
        width: 45px;
        height: 45px;
        background-image: url('../img/icon-success.svg');
        background-size: 100%;
    }

    .title-modal {
        width: 100%;
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 600;
        font-size: 18px;
        color: black;
        text-align: center;
    }

    .text-modal {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
        font-size: 16px;
        color: black;
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .bt-close-modal {
        float: left;
        width: 180px;
        height: 41px;
        margin-top: 40px;
        cursor: pointer;
        background-color: transparent;
        font-size: 11px;
        color: rgb(0, 0, 0);
        letter-spacing: 5px;
        border: 2px solid #c2c2c2;
        border-radius: 4px;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    .bt-close-modal:hover {
        background-color: rgb(221, 221, 221);
    }
}

@media(min-width: 401px) {
    .area-circle {
        margin-top: 70px;
    }
    .text-1 {
        text-align: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.9s ease;
        margin-top: 75px;
        float: left;
        font-size: 18px;
        color: #dbf3ff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.8;
    }
}

@media(max-width: 400px) {
    .text-1 {
        text-align: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.9s ease;
        margin-top: 60px;
        float: left;
        font-size: 18px;
        color: #dbf3ff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.6;
    }
    .area-circle {
        margin-top: 40px;
    }
}